*{	box-sizing:border-box; 
}
body{
	margin: 10px;
	font-family: sans-serif;
	background: #204862;

}/*
.logo1{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
}*/
h1{
	color: #fff;
	text-align: center;
}
.form_register{
	width: 95%;
	max-width: 500px;
	margin: auto;
	background: white;
	border-radius: 7px;
}
.form_title{
	background: deepskyblue;
	color: #fff;
	padding: 20px;
	text-align: center;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom: 5px solid crimson;
}
.contiene_inputs{
	padding: 10px 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
input{
	margin-bottom: 15px;
	padding: 15px;
	font-size: 16px;
	border-radius: 3px;
	border: 1px solid darkgray;
}
.input_48{
	width: 48%;
}
.input_100{
	width: 100%
}
.btn_registro{
	background: crimson;
	color: #fff;
	margin: auto;
	padding: 10px 40px;
	cursor: pointer;
}
.btn_registro{
	transform: scale(1.10);
}
.form_link{
	width: 100%;
	margin: 6px;
	text-align: center;
	font-size: 14px;
}