body{
    margin: 1rem;
	font-family: sans-serif;
    min-width: 300px;
    background-color: darkgrey;
}
.tablaData{
    background-color: cornflowerblue;
    padding: 5px;

}
.tablaData col{
    margin: 10px;
}